# Configuración de la Aplicación Streamlit
DB_HOST=localhost
DB_NAME=bd_egresadosyofertalaboral
DB_USER=postgres
DB_PASSWORD=300805
DB_PORT=5432
SECRET_KEY=genera_una_clave_secreta_larga_y_aleatoria

# Configuración de Base de Datos PostgreSQL
POSTGRES_DB=egresados_unt_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=una_contraseña_segura_aqui

# Configuración de pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=otra_contraseña_segura_aqui


